[database]
active =

[sqlite_production]
dialect = sqlite
name = production.db

[sqlite_unittesting]
name = unittesting.db

[postgresql_production]
dialect = postgresql
host = localhost
port = 5432
database = filehunter
username = filehunter
password =

[postgresql_unittesting]
database = filehunter_testing

