[general]
max_file_size_kb = 10240
match_rules = [
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.ear$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.jar$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.war$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.cfg$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.config$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.ini$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.properties$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.reg$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.pol$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^applicationHost\\.config$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^appsettings\\.json$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^appsettings\\.*?\\.json$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^unattend\\.xml$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^web\\.config$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^web\\.xml$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.edb$", "relevance": "low", "action": "path_only"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.eml$", "relevance": "low", "action": "path_only"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.msg$", "relevance": "low", "action": "path_only"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.nfs$", "relevance": "low", "action": "path_only"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.pst$", "relevance": "low", "action": "path_only"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.asc$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.cer$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.key$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pgp$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.gpg$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pem$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pub$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pfx$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.ppk$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.p7b$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.p12$", "relevance": "low", "action": "full_import"},
    {"search_location": "directory_name", "category": "Key Material", "search_pattern": "^.*/.ssh/.*$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "Log", "search_pattern": "^.*\\.log$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Password Management", "search_pattern": "^.*\\.kdb$", "relevance": "high", "action": "full_import"},
    {"search_location": "file_name", "category": "Password Management", "search_pattern": "^.*\\.kdbx$", "relevance": "high", "action": "full_import"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.ps1$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.sh$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.vbs$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.bat$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.cmd$", "relevance": "low", "action": "full_import"},
    {"search_location": "file_name", "category": "", "search_pattern": "^.*((credential)|(passwor[td])).*$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_name", "category": "", "search_pattern": "^.*passw((ö)|(oe))rt.*$", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "connectionString\\s*[=:]?", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "ConvertTo-SecureString", "relevance": "high", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "data source\\s*[=:]?", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "jdbc\\.username\\s*[=:]?", "relevance": "medium", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "jdbc\\.password\\s*[=:]?", "relevance": "high", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "password\\s*[=:]?", "relevance": "high", "action": "full_import"},
    {"search_location": "file_content", "category": "", "search_pattern": "pwd\\s*[=:]?", "relevance": "high", "action": "full_import"}
    ]

[setup]
scripts = ["filehunter.py"]
kali_packages = []