[general]
max_file_size_bytes = 67108864
supported_archives = ["zip", "bz2", "bzip2", "7z", "bz2", "bzip2", "gzip", "gz", "tar", "lzip", "lz", "rar", "xz"]
match_rules = [
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.ear$", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.jar$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Application (Java)", "search_pattern": "^.*\\.war$", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_content", "category": "Backup", "search_pattern": "^MSSQLBAK[\\W]+", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_content", "category": "Backup", "search_pattern": "^TAPE[\\W]+", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Backup", "search_pattern": "^.*\\.bak", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Source Code", "search_pattern": "^.*\\.sql$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Source Code", "search_pattern": "^.*\\.php$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.cfg$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.config$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.ini$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.properties$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.reg$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^.*\\.pol$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^applicationHost\\.config$", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^appsettings\\.json$", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^appsettings\\.*?\\.json$", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^unattend\\.xml$", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^web\\.config$", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^web\\.xml$", "relevance": "low", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^config\\.xml$", "relevance": "low", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Configuration", "search_pattern": "^\\.htaccess$", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.edb$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.eml$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.msg$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.nfs$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Email", "search_pattern": "^.*\\.pst$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.asc$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.cer$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.key$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pgp$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.gpg$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.ovpn", "relevance": "high", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pem$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pub$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.pfx$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.ppk$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.p7b$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Key Material", "search_pattern": "^.*\\.p12$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_content", "category": "Key Material", "search_pattern": "^-+BEGIN.*?PRIVATE KEY-+", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_name", "category": "Log", "search_pattern": "^.*\\.log$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Misc", "search_pattern": "^known_hosts$", "relevance": "low", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Password Management", "search_pattern": "^.*\\.kdb$", "relevance": "high", "accuracy": "low"},
    {"search_location": "file_name", "category": "Password Management", "search_pattern": "^.*\\.kdbx$", "relevance": "high", "accuracy": "low"},
    {"search_location": "file_name", "category": "Password Management", "search_pattern": "^.*\\.geli$", "relevance": "high", "accuracy": "low"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.ps1$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.sh$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.vbs$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.bat$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Scripting", "search_pattern": "^.*\\.cmd$", "relevance": "low", "accuracy": "low"},
    {"search_location": "file_name", "category": "Virtual Machine", "search_pattern": "^.*\\.vmdk", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Virtual Machine", "search_pattern": "^.*\\.vmwarevm", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Virtual Machine", "search_pattern": "^.*\\.vbox", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "Virtual Machine", "search_pattern": "^.*\\.vdi", "relevance": "medium", "accuracy": "medium"},
    {"search_location": "file_name", "category": "", "search_pattern": "^.*((credential)|(passwor[td])|(login)|(logon)).*$", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_name", "category": "", "search_pattern": "^.*passw((ö)|(oe))rt.*$", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_name", "category": "", "search_pattern": "^.*keepass.*$", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_content", "category": "", "search_pattern": "connectionString\\s*[=:]?", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_content", "category": "", "search_pattern": "ConvertTo-SecureString", "relevance": "high", "accuracy": "medium"},
    {"search_location": "file_content", "category": "", "search_pattern": "data source\\s*[=:]?", "relevance": "medium", "accuracy": "low"},
    {"search_location": "file_content", "category": "", "search_pattern": "jdbc\\.username\\s*[=:]", "relevance": "medium", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "jdbc\\.password\\s*[=:]", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "password[a-z0-9]*\\s*[=:\\s><]", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "passwd[a-z0-9]*\\s*[=:\\s><]", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "pwd[a-z0-9]*\\s*[=:\\s><]", "relevance": "high", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "login[a-z0-9]*\\s*[=:\\s><]", "relevance": "medium", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "logon[a-z0-9]*\\s*[=:\\s><]", "relevance": "medium", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "\\s+-p[\\s:=]", "relevance": "medium", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "\\s+-{1,2}passw(ord)?[\\s:=]", "relevance": "medium", "accuracy": "high"},
    {"search_location": "file_content", "category": "", "search_pattern": "\\s+-{1,2}pwd[\\s:=]", "relevance": "medium", "accuracy": "high"}
    ]

[setup]
scripts = ["filehunter.py"]
kali_packages = ["python3-magic", "unzip", "unrar", "p7zip-full"]
